#pie-pagina {

    height: 15vh;
    width: 25vw;



    text-align: center;
    border: red 1px solid;
    background-color: white;
    border-radius: 5px;
    margin: 1vmin;

    display: grid;
    grid-template-areas: "logo nombre nombre" "logo datos datos";
    place-content: center;
    align-items: center;
    justify-content: center;
}

#nombre {

    grid-area: nombre;
}

#datos {

    grid-area: datos;
}

#logo {

    grid-area: logo;

    max-height: 10vh;

    width: auto;
}